<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo de CRUD MVC</title>
</head>
<body>
    <header th:replace="plantillas/partes::cabecero"></header>
    <h2>Página de Inicio</h2>
    <a th:href="@{/agregar}">AGREGAR USUARIO</a>
    <h4>Lista de personas</h4>

    <hr>
    <div th:if="${usuarios != null and !usuarios.isEmpty()}">
        <table border="1">
            <tr>
                <th>CEDULA</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>PASSWORD</th>
                <th>EDITAR</th>
                <th>ELIMINAR</th>
            </tr>
            <tr th:each="u: ${usuarios}">
                <td th:text="${u.cedula}"></td>
                <td th:text="${u.nombre}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.password}"></td>
                <td><a th:href="@{/editar/}+${u.cedula}" th:text="EDITAR"></a></td>
                <td><a th:href="@{/eliminar/}+${u.cedula}" th:text="ELIMINAR"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${usuarios == null or usuarios.isEmpty()}">
        La lista de usuarios está vacía.
    </div> <br><hr>
    <footer th:replace="plantillas/partes::pie"></footer>
</body>
</html>